@import "~antd/dist/antd.compact.css";
@import "~antd/dist/antd.css";
#root {
  height: 100%;
}
#root .ant-layout {
  height: 100%;
}
.shop-title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 0.57rem;
  color: #001529;
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.login-form {
  width: 50%;
  border-color: #1890ff;
  /*垂直居中*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.login-form .ant-card-head {
  font-size: 1.4rem;
  text-align: center;
  color: #001529;
}
@media (max-width: 750px) {
  .login-form {
    width: 90%;
  }
}
.ant-layout-content {
  overflow-y: auto;
}
.ant-layout-sider-children {
  height: 100%;
}
